<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13541065091-n2o7blobjgacf6jndms4qnpc0cc3gv54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13541065091-n2o7blobjgacf6jndms4qnpc0cc3gv54</string>
	<key>API_KEY</key>
	<string>AIzaSyDkJbvRcaoTfbFM-CcCz0YLWjMC0_sIdZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>13541065091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dormchef</string>
	<key>PROJECT_ID</key>
	<string>dormchef-cc34d</string>
	<key>STORAGE_BUCKET</key>
	<string>dormchef-cc34d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13541065091:ios:2c7c543604089d746eb6b6</string>
</dict>
</plist>